@model BookCreateViewModel

<h3>Yeni Kitap Giriş Sayfası</h3>
@if (User.Claims.FirstOrDefault(x => x.Type == "id")?.Value != null)
{
    <form method="post" asp-controller="Book" asp-action="Create">
        <div>
            <label>Kitap İsmi</label>
            <input asp-for="Title" class="form-control" type="text" />
            <span asp-validation-for="Title" class="text-danger mt-2 fw-bold"></span>
        </div>

        <div>
            <label>Kitap Türü</label>
            <textarea asp-for="Genre" rows="4" class="form-control"></textarea>
            <span asp-validation-for="Genre" class="text-danger mt-2 fw-bold"></span>
        </div>

        <div>
            <label>Yayın Tarihi</label>
            <textarea asp-for="PublishDate" rows="4" class="form-control"></textarea>
            <span asp-validation-for="PublishDate" class="text-danger mt-2 fw-bold"></span>
        </div>
        <div>
            <label>Yazar</label>
            <select asp-for="AuthorId" asp-items="@(new SelectList(ViewBag.Authors , "Id","FullName"))" class="form-control">
                <option selected disabled>Yazar ismi seçiniz</option>
            </select>
            <span asp-validation-for="AuthorId" class="text-danger mt-2 fw-bold"></span>
        </div>



        <button type="submit" class="btn btn-success mt-2">Kaydet</button>

    </form>
}