@model AuthorCreateViewModel
@if (User.Claims.FirstOrDefault(x => x.Type == "id")?.Value != null)
{

    @*Dosya ekleme bölümlü bir form*@

    @using (Html.BeginForm("Create", "Author", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-group">
            <label for="Name">Yazar Adı:</label>
            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>
        <div class="form-group">
            <label for="Name">Yazar Soyadı:</label>
            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.LastName)
        </div>
        <div class="form-group">
            <label for="ImageUrl">Yazar Resmi:</label>
            <input type="file" name="ImageUrl" class="form-control" />

        </div>

        <button type="submit" class="btn btn-primary">Kaydet</button>
    }

}